{% extends "lab_10/layout/base.html" %} {% block content %}
<h1>List of Watched Movies :</h1>
<hr>
<div class="row">
        {% for movie in watched_movies %}
        <div class="container">
            <div id="judul">
                <h1 style="color:green;font-weight:bold"> {{ movie.title}} </h1>
                <br>
            </div>
    
            <div id="poster">
                <img src="{{movie.poster}}" alt="poster_film">
                <br>
                <br>
                <br>
            </div>
    
            <div id="plot">
                <b>Plott :</b>
                <br>
                <p>{{movie.plot}}</p>
                
            </div>
    
    
            <div id="director">
                <b>Director :</b>
                <br> {{movie.director}}
                <br>
                <br>
            </div>
    
            <div id="writers">
                <b>Writer(s) :</b>
                <br> {{movie.writer}}
                <br>
                <br>
            </div>
    
            <div id="cast">
                <b>Casts</b>
                <br> {{movie.actors}}
                <br>
                <br>
            </div>
    
            <div id="production">
                <b>Production :</b>
                <br> {{movie.production}}
                <br>
                <br>
            </div>
    
            <div id="durasi">
                <b>Duration : </b>
                <br> {{movie.runtime}}
                <br>
                <br>
            </div>
    
            <div id="rated">
                <b>Rated :</b>
                <br> {{movie.rated}}
                <br>
                <br>
            </div>
        </div>
    
        <hr> {% endfor %}
    
    
    
    </div>
{% endblock %} {% block javascript %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<script>

    $("#home").html(
        '<a class="navbar-brand" style="color:white;" href="{% url "lab-10:dashboard" %}"> Home </a>'
    );

    $("#listMovie").html(
        '<a class="navbar-brand" style="color:white;" href="{% url "lab-10:movie_list" %}"> Search Movie </a>'
    );

    $("#listWatchLater").html(
        '<a class="navbar-brand" style="color:white;" href="{% url "lab-10:list_watch_later" %}"> Watch Later </a>'
    );

    $("#listWatched").html(
        '<a class="navbar-brand" style="color:white;" href="{% url "lab-10:list_watched_movie" %}"> Watched Movie </a>'
    );

    $("#logoutSession").html(
        '<a class="navbar-brand navbar-right" id="logout" style="color:white;background-color: #CC0000;" href="{% url "lab-10:auth_logout" %}"> Log out</a>'
    );

</script> {% endblock %}