html {
	min-height: 100%;
}

body {
	font-family: 'Crimson Text', serif !important;
	min-height: 100%;
	width: 100%;
	background-size: cover;
	margin: 0;		
	font-size: 1.5em !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}