html{
	height: 100%;
}

body {
	font-family: 'Lato', serif;
	min-height: 100%;
	width: 100%;
	background-image: white;	
	background-size: cover;
	margin: 0;		
}

#background {
	min-height: 100vh;
	height: 100%;
	background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
	z-index: -100;
}

#menu {
	width: 100%;
	background: transparent;
	font-weight: 600;
}
/* Each link in the nav menu */

#menu a {
	display: block;
	margin: auto;
	padding: 10px;
	font-size: 5em;
	text-align: center;
	text-decoration: none;
	color:white
}

.container {
	display: block;
	margin: 2em 1em ;
}

#lab8 {
	margin: auto;
	text-align: center;
}

.welcomeText {
	margin-top: 30vh;
	text-align: center;
	font-size: 4em;
	color:white;
}

#noEnter {
	white-space: nowrap;
}

#noEnter1 {
	white-space: nowrap;
}

/* .login {
	display: inline-block;
	margin-top: 1.5em;
	position: relative;
	width:40%;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 1em;
	background-color: transparent;
	border: 3px solid white;
	box-sizing: border-box;
	padding:0.5em 2em;
	transition: 0.5s;
} */

/* .login:hover {
	border-radius: 2em;
	background-color: yellow;
	color:black;
	border-color: transparent;
} */

.photoContainer {
	margin : 0 8em;
	min-height: 35vh;
	display:flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-start;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.item1 {
	order: 1;   
	flex-basis: 20%;
	background-color: white;
	margin:6px;
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.picture {
	padding-top: 1em;
	max-width: 75%;
	border: 1px solid transparent;
	border-radius: 40%;
}

.userName {
	display: block;
}

.item2 {
	order: 1;
	text-align: left;
	flex-basis: 75%;
	padding: 10px;
	background-color: white;
	margin: 6px;
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item2 div {
	margin-bottom: 1em;
}

.postFeed {
	margin : 5px 8em;
	display: flex;
	background-color: white;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px 10px;
}

#postInput {
	height: 5em;
	flex-basis: 40%;
	margin: 0 1em;
	resize: none;
	border-radius: 4px;
}

.postStatus,.logout {
	max-height: 5em;
	padding: 1em;
	margin: 0 1em;
	background-color: #005bea;
	color: white;
	border: none;
	opacity: 0.8;
	transition: 0.5s;
}

.postStatus:hover, .logout:hover {
	border-radius: 5px;
	opacity: 1;
}

.feed {
	margin : 5px 8em;
	background-color: white;
	text-align: left;
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px 10px;
}

.smallPic img {
	border: 1px solid transparent;
	border-radius: 50%;
	vertical-align: middle;
}

.feed div {
	margin-bottom: 10px;
}
.deleteBtn {
	float: right;
	background-color: #005bea;
	color: white;
	border: 1px solid transparent;
	padding: 6px;
}

@media screen and (max-width: 768px) {
	#menu a {
		font-size: 3em;
		font-weight: 500;
	}
	.welcomeText {
		font-size: 2em;
	}
	/* .login {
		display: block;
		margin: 0.4em auto;
	} */
}

@media screen and (max-width: 450px) {
	#menu a {
		font-size: 1.6em;
		font-weight: 500;
	}
	.welcomeText {
		font-size: 0.9em;
	}
}
