html{
	height: 100%;
}

body {
	font-family: 'Lato', serif;
	min-height: 100%;
	width: 100%;
	background-image: white;	
	background-size: cover;
	margin: 0;		
}

.container {
	display: block;
	margin: 2em 1em ;
}



#lab8 {
	margin: auto;
	text-align: center;
}
/* 
.photoContainer {
	margin : 0 8em;
	min-height: 35vh;
	display:flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-start;
	background-size: 100% 100%;
	background-repeat: no-repeat;
} */

/* .picture {
	padding-top: 1em;
	max-width: 75%;
	border: 1px solid transparent;
	border-radius: 40%;
} */

.postFeed {
	margin : 5px 8em;
	display: flex;
	background-color: white;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px 10px;
}

#postInput {
	height: 5em;
	flex-basis: 40%;
	margin: 0 1em;
	resize: none;
	border-radius: 4px;
}

.postStatus,.logout {
	max-height: 5em;
	padding: 1em;
	margin: 0 1em;
	background-color: #005bea;
	color: white;
	border: none;
	opacity: 0.8;
	transition: 0.5s;
}

.postStatus:hover, .logout:hover {
	border-radius: 5px;
	opacity: 1;
}

.feed {
	margin : 5px 8em;
	background-color: white;
	text-align: left;
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px 10px;
}

.smallPic img {
	border: 1px solid transparent;
	border-radius: 50%;
	vertical-align: middle;
}

.feed div {
	margin-bottom: 10px;
}
.deleteBtn {
	float: right;
	background-color: #005bea;
	color: white;
	border: 1px solid transparent;
	padding: 6px;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 450px) {

}
