{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <style>
        #gambar{
            border: 5px solid #4EB1BA;
            border-radius: 50%;
            display: inline-block;
        }

        h1{
           font-family : 'Lato';
           font-weight : bold;
           color : #4EB1BA;
           font-size: 50px;
        }

        h2{
            font-family: 'Lato';
            font-weight : bold;
            color : #4EB1BA;
            font-size: 40px;
        }

        #motto{
            color: #E9E9E9;
            font-size: 20px;
        }

        #list{
            color: #E9E9E9;
            font-size : 20px;
        }
        
        #message{
            color :#E9E9E9;
        }

    </style>
    
    <h1>Portofolio</h1>
    <span id="gambar"><img class="img-circle" align :"left" src="https://drive.google.com/uc?id=0BxoBvs9BEaXMSGtHOFJZd3R1Zms" style="width :400px;height:400px;"  ></span>
    <hr/>
    <section name="bio">`
        <h2>Bio</h2>
        <p>
            <span id="motto">{{content}}</span>
        </p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2>List</h2>
        <span id ="list">
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </span>
    </section>
    <hr/>
    <section name="form">
        <h2>Send Message</h2><span id="message">
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </span>
    </section>

    {% endblock %}
