{% extends "lab_9/layout/base.html" %}
{% load staticfiles %} {% load static %}
{% block content %}
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2> [Cookie] Profile </h2>
    </div>
    <div class="panel-body">
        <p> Username : {{ request.COOKIES.user_login }} </p>
    </div>
    <div class="panel-footer">
        <!-- <a href="{% url 'lab-9:cookie_clear' %}" class="btn btn-danger"> Reset Cookies (Logout) </a> -->
    </div>
</div>


{% endblock %}

{% block javascript %} 

<script>
$("#home").html(
    '<a class="navbar-brand" style="color:white;" href="{% url "lab-9:profile" %}"> Home </a>'
);

$("#logoutCookies").html(
    '<a class="navbar-brand navbar-right" id="logout" style="color:white;background-color: #CC0000;" href="{% url "lab-9:cookie_clear" %}"> Log out</a>'
);
</script>

{% endblock %}

