{% extends "base.html" %}
{% block content %}
<style>
    h3{
        color :#4EB1BA;
    }
    #tanggal{
        text-align : center;
        color : #FFE361;
    }
    #kerja{
        text-align : center;
        color : #FFE361;
    }

    #diaryTanggal{
        color:blanchedalmond;
    }
    
    #diaryAct{
        color:blanchedalmond;
    }

    #tanggal{
        color:#FFE361;
    }

    #kegiatan{
        color: #FFE361;
    }

</style>
<h3 style="text-align: center">Hai semua, berikut adalah Catatan Harianku</h3>
<br><br>
<div class="row">
    <div class="col-md-6 col-xs-6">
        <table align="center" style="text-align: center" >
            <tr>
                <th><span id="tanggal">Tanggal</span></th>
                <th><span id="kerja">Yang akan dikerjakan</span></th>
            </tr>
            {% for diary_data in diary_dict %}
                <tr>
                    <td class="date"><span id= "diaryTanggal">{{ diary_data.date }}</span></td>
                    <td class="activity"><span id="diaryAct">{{ diary_data.activity }}</span></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6 col-xs-6">
        <form method="POST" action="add_activity/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <span id="tanggal">Tanggal</span>
                    </td>
                    <td>
                        <input type="datetime-local" name="date" id="date" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="kegiatan">Kegiatan</span>
                    </td>
                    <td>
                        <input type="text" name="activity" id="activity" size="25"/>
                    </td>
                </tr>
            </table>
            <button type="submit" class="button btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
