{% extends "base.html" %}
{% block content %}
<style>
    
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        font-family : 'Roboto';
        color :#4EB1BA;
        font-size : 24px;
    }
    #nama {
        font-weight : bold;
        color :#E9E9E9;
    }
</style>
<div class="center_screen">
    <p class="status" id="test" >Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}