{% extends "lab_10/layout/base.html" %}
{% load staticfiles %} {% load static %}

{% block content %}
<!-- Content Here -->
<div class="pojok-kanan">
</div>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2> [Session] Profile </h2>
    </div>
    <div class="panel-body">
        <p> Username : {{ author }} </p>
        <p> NPM : {{kode_identitas}} </p>
        <p> Role : {{ role }} </p>
    </div>
    <div class="panel-footer">
        <!-- <a href="{% url 'lab-9:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')">
            Logout </a> -->
        <a href="{% url 'lab-10:cookie_login' %}" class="btn btn-info"> Masuk Halaman Cookies </a>
    </div>
</div>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
            <a href="#drones" aria-controls="home" role="tab" data-toggle="tab"> Drones </a>
        </li>
        <li role="presentation">
            <a href="#soundcard" aria-controls="settings" role="tab" data-toggle="tab"> Soundcard </a>
        </li>
        <li role="presentation">
            <a href="#" aria-controls="settings" role="tab" data-toggle="tab"> Optical </a>
        </li>
    </ul>
</div>

{% endblock %}

{% block javascript %} 

<script>
$("#home").html(
    '<a class="navbar-brand" style="color:white;" href="{% url "lab-10:profile" %}"> Home </a>'
);

$("#logoutSession").html(
    '<a class="navbar-brand navbar-right" id="logout" style="color:white;background-color: #CC0000;" href="{% url "lab-10:auth_logout" %}"> Log out</a>'
);

</script>

{% endblock %}
