<!-- templates/lab_8/partials/header.html -->
<nav class = "navbar navbar-default navbar-static-top" style="background-color: #3B5998;">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="background-color: white;">
            <span class="sr-only" >Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"  style="color:white;" href='{% url "lab-8:index" %}'>Home</a>
        </div>
</nav>
